$size-xxs: 4px;
$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 64px;

$width-max: 800px;

$color-primary: #2edd17;
$color-text: #3e3e3e;

$shadow-high: 0 4px 5px rgba(0, 0, 0, 0.2);
